<section id="apply">
  <% if @innovation.submitted? %>
    <h1>Summary of Application for Bench to Practice Innovation Challenge</h1>
    <%= render partial: 'innovations/preview', locals: {innovation: @innovation} %>
  <% else %>
    <h1>Apply for Bench to Practice Innovation Challenge</h1>
    <%= render partial: 'innovations/form', locals: {innovation: @innovation} %>
  <% end %>
</section>