<h1>Application Process</h1>
<p>
  The 2016 application deadlines will be announced in Dec 2015.
</p>
<p>
  In your application you will be judged on the innovativeness of your idea, how it improves quality of care, whether it lowers cost to care delivery , whether it expands access to care and whether it demonstrates value.
</p>
<p>
  Judging criteria will be based on:
  <ol>
    <li>Concept</li>
    <li>Value</li>
    <li>Delivery</li>
    <li>Impact</li>
    <li>Team work</li>
    <li>Anticipated barriers and strategies to address them</li>
    <li>Overall project planning</li>
  </ol>
</p>
<p>
  Making a case for your project useful tips:
  <ol>
    <li>Be sure to highlight the novel component in your project</li>
    <li>The team and the knowledge asset brought by them to the project</li>
  </ol>
</p>
<p>
  Business points
  <ol>
    <li>Define the end product or service offering</li>
    <li>Identify your potential users/customers for the product or customers</li>
    <li>Who does the product or service benefit? Patients/family members/hospital/Primary health care centre/doctors/health care workers.</li>
    <li>Outline the value to the niche user.</li>
    <li>Value proposition (clearly stated.)</li>
    <li>If you can, add market evaluation (size, growth and potential to upscale, drivers, competitors, customers.)</li>
  </ol>
</p>
<p>
  Engineering points (for medical devices)
  <ol>
    <li>Define or illustrate how your device is used (you can upload a 3min video on the upload video part of the application.)</li>
    <li>Show proof of concept or a strategy to demonstrate proof of concept.</li>
    <li>Address the feasibility.</li>
  </ol>
</p>