<div id="judging_criteria">
  <h1>Criteria</h1>
  <p>
    Your project will be judged as having potential for innovation based on the
    <ul>
      <li>Concept</li>
      <li>Value</li>
      <li>Delivery</li>
      <li>Impact</li>
      <li>Team work</li>
      <li>Identification of barriers and strategies to address them</li>
      <li>Overall project planning</li>
    </ul>
  </p>

  <h2>In Detail</h2>
  <ol>
    <li>
      Concept (Feasibility, Originality and Novelty of the idea)
      <ul>
        <li>The Healthcare Innovation idea is feasible.</li>
        <li>The Healthcare Innovation idea is original.</li>
        <li>There are no serious flaws in the feasibility and originality.</li>
        <li>The Healthcare Innovation has at least one significant novel component.</li>
        <li>The Healthcare Innovation has potential to create new Intellectual Property.</li>
      </ul>
    </li>
    <li>
      Value &amp; Impact (Importance and potential impact)
      <ul>
        <li>The Healthcare Innovation has significant health care importance for patients.</li>
        <li>The Healthcare Innovation has significant importance for carers.</li>
        <li>The Healthcare Innovation has significant importance for the system (delivery of care, safety, quality, risk management in hospitals, care of patients in the community or at home).</li>
        <li>The Healthcare Innovation is compatible with the ethical tenets of patient autonomy, beneficence, non-maleficence, social justice and scope of application.</li>
        <li>The idea represents a potential solution to an outstanding need in society (Is there a market?).</li>
      </ul>
    </li>
    <li>
      Delivery (Implementation and marketability of the idea)
      <ul>
        <li>The Healthcare Innovation leads to a clear end product/service.</li>
        <li>The Healthcare Innovation end product/service is implementable in contextual settings and there is a significant need being addressed.</li>
        <li>The end product has clearly identified customers – niche users.</li>
        <li>The applicant is able to articulate in plain language statement the advantages for the end user (patients, carers or healthcare systems) The utility of this HI versus existing ones is clearly compared.</li>
        <li>The plan to take the Healthcare Innovation to its final goal of commercialization has been thought through clearly, the team has members who can communicate value proposition.</li>
      </ul>
    </li>
    <li>
      Team
      <ul>
        <li>The team has the necessary background to execute the project.</li>
        <li>The  team and its advisors cover all the essential expertise needs for executing the project.</li>
        <li>Does the team have experienced scientific advisors/mentors to fill in key expertise gaps.</li>
      </ul>
    </li>
    <li>
      Barriers (and strategies to address them)
      <ul>
        <li>The plan has strategies to deal with <b>Regulatory barriers</b> if any.</li>
        <li>The plan has strategies to deal with <b>Ethical barriers</b> if any.</li>
        <li>The plan has strategies to deal with <b>Investment needs barriers</b> if any.</li>
        <li>The plan has strategies to deal with <b>Lack of Key Expertise barriers</b> if any.</li>
        <li>The plan has strategies to deal with <b>Lack of Key facilities barriers</b> if any.</li>
        <li>The plan has strategies to deal with <b>Patent barriers</b> if any.</li>
      </ul>
    </li>
    <li>
      Project Plan &amp; Funding
      <ul>
        <li>The project proposal has sufficient details to evaluate the proposal.</li>
        <li>The team has done detailed thinking on project execution and path forward after the project duration.</li>
        <li>Funding is available to see this project through to its conclusion.</li>
        <li>The project time lines are reasonable.</li>
      </ul>
    </li>
  </ol>
</div>