<section class="container">
  <h1>Batch 90 Innovations</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti distinctio repellendus molestiae nemo vitae, dicta fuga veritatis, nobis nostrum rerum natus eum velit voluptatibus hic recusandae error consectetur in aperiam maiores ab voluptatum fugiat. Architecto placeat, illo sapiente, voluptatibus consequuntur eaque commodi unde inventore repellendus ex porro quisquam animi qui.
  </p>

  <p>
    <a href="#" class="btn btn-success btn-lg">Apply Now</a>
  </p>
</section>