<div id="application-preview">
  <dl>
    <dt>Project Name</dt>
    <dd><%= innovation.project_name %></dd>
    <dt>Submitted At</dt>
    <dd><%= innovation_submission_date(innovation) %></dd>
  </dl>
</div>