<div class="innovation well">
  <dl>
    <dt>Project Title</dt>
    <dd><%= innovation.title %></dd>
    <dt>Project Description</dt>
    <dd><%= innovation.description %></dd>
    <dt>Submitted At</dt>
    <dd><%= innovation_submission_date(innovation) %></dd>
  </dl>
</div>