<div class="innovation well">
  <dl>
    <dt>Project Name</dt>
    <dd><%= innovation.project_name %></dd>
    <dt>Problem</dt>
    <dd><%= innovation.problem %></dd>
    <dt>Submitted At</dt>
    <dd><%= innovation_submission_date(innovation) %></dd>
  </dl>
</div>