body {
  position: relative;
  min-height: 100vh;
  box-sizing: border-box;
}

header {
  nav {
    ul.nav {
      li {
        a.btn {
          background-color: $primary-color;
          border-color: $primary-color;
          margin-top: 5px;
          transition: background-color 0.3s ease-in;

          &:hover {
            background-color: $primary-color-darkened;
            border-color: $primary-color-darkened;
          }
        }
      }
    }
  }
}

#content_wrapper {
  padding-top: 70px;
  padding-bottom: 65px;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 25px 0;
}

.vcenter {
  border: 1px solid transparent;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}